// html {
//   overflow-x: hidden;
// }
.overflow-visible,
.overflow-visible > * {
  overflow: visible !important;
}
body {
  overflow-x: hidden;
  position: relative;
}
body.disable-scroll {
  overflow: hidden;
}

main {
  width: 100%;

  // position: absolute;
  // height: 100%;
  overflow-x: hidden;
}
main.main--top {
  @media screen and (max-width: 768px) {
    padding-top: 124px;
  }
}

// main > * {
//   z-index: 2;
//   position: relative;
// }

.main {
  margin-top: 191px;
  @extend .clearfix;
  // overflow-x: hidden;
  // overflow-y: auto;
  @media screen and (max-width: 768px) {
    margin-top: 106px;
  }
}
.main--page-header {
  margin-top: -150px;
}
.home .main {
  overflow-x: hidden;
  overflow-y: hidden;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  max-width: 1324px;
}
.wrapper--content {
  max-width: 960px;
  // display: flex;
}
