/* Fonts */
$mainFont: 'Maax', Helvetica, Arial, sans-serif;
$titleFont: 'Maax', Helvetica, Arial, sans-serif;
$alternateFont: 'Maax Mono', Helvetica, Arial;

/* Colors */
$white: #ffffff;
$black: #000;

$hpColor1: #c8c8c8;
$hpColor2: #515151;
$hpColor3: #407ebf;
$hpColor4: #26507c;
$hpColor5: #d4d4d4;
$hpColor6: #939393;
$hpColor7: #d7ebff;
$hpColor8: #2f2f2f;

$mcdColor1: #003652;
$mcdColor2: #ffbd10;
$mcdColor3: #003552;
$mcdColor4: #ef413d;
$mcdColor5: #003b2f;
$mcdColor6: #3d82c8;
$mcdColor7: #a9c2e5;

$success: #41aa41;
$warning: #ffc831;
$error: #d41710;

$facebook: #3b5998;
$twitter: #4099ff;

/* Gradients */
// $redGradient: linear-gradient(90deg, #81050F 0%, #FF0000 100%);
// $blackGradient: linear-gradient(90deg, rgba(0,0,0,0) 50%, $black 100%);

/* Transitions */
$basicTransition: cubic-bezier(0.35, 0, 0.65, 1);

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
