:local {
  .button {
    padding: 9px 8px;
    height: 45px;
    width: 45px;
    position: relative;
    color: #172b48;
    z-index: 1;
    cursor: pointer;
    border: 0;
    transition: 0.2s all ease-in-out;
    backface-visibility: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-self: self-end;
    background: #41a741;
    @media (max-width: 768px) {
      font-size: 0.9375em;
      padding: 0 5px;
      letter-spacing: 0.8px;
    }
    
    &:hover {
      background-color: #3c823c;

    }

    &:focus {
      outline: none;
    }
  }

  .button span {
    margin-left: 8px;
    // min-width: 200px;
    text-align: left;
    white-space: nowrap;
  }


  //green0outline
  .button--green-outline {
    border-color: #41aa41;
    border-style: solid;
    border-width: 2px;
    background: white;
    color: #41aa41;
    &:hover {
      box-shadow: inset 0px 0px 0px 2px #41aa41;
      border-color: #41aa41;
      background: white;
    }
  }

  .button--large {
    padding: 6px 21.5px 6px 19px;
    height: 41px;
    min-height: 41px;
    width: 241px;
    font-size: 0.80em;
    letter-spacing: 0.9px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: white 2px solid;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: rgba(0, 0, 0, 0);
      color: white;
      border: white 3px solid;
    }
  }
  .button--large svg {
    width: 15px;
    height: 16px;
  }

}
