:local {
  .grid {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  // 3 column grid
  .grid--33 {
    margin-bottom: -68px;
    @media (max-width: 768px) {
      margin-bottom: -24px;
    }
  }
  .grid--33 li {
    width: calc(33.3333% - 32px);
    flex-basis: calc(33.3333% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    @media (max-width: 1024px) {
      width: calc(50% - 32px);
      flex-basis: calc(50% - 32px);
    }
    @media (max-width: 768px) {
      width: calc(100% - 32px);
      flex-basis: calc(100% - 32px);
    }
  }

  // 4 column grid
  .grid--25 {
    margin-bottom: -68px;
    @media (max-width: 768px) {
      margin-bottom: -24px;
    }
  }
  .grid--25 li {
    width: calc(25% - 32px);
    flex-basis: calc(25% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    @media (max-width: 1024px) {
      width: calc(50% - 32px);
      flex-basis: calc(50% - 32px);
    }
    @media (max-width: 768px) {
      width: calc(100% - 32px);
      flex-basis: calc(100% - 32px);
    }
  }

  // product-card-grid
  .grid--product-card-grid {
    margin-bottom: 32px;

    @media (max-width: 1024px) {
      margin-bottom: 16px;
    }
  }
  .grid--product-card-grid li {
    @media (max-width: 1024px) {
      width: calc(100% - 32px);
      flex-basis: calc(100% - 32px);
      margin-bottom: 16px;
    }
  }

  // product-category
  .grid--product-categories {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  // product-item-grid
  .grid--product-item-grid {
    margin-bottom: -24px;
  }

  // product-favorite-grid
  .grid--product-favorite-grid {
    margin-bottom: -86px;
  }
}
