:local {
  .pagination {
    margin-bottom: 48px;
    margin-top: 0;
    @media (max-width: 1024px) {
      margin-bottom: 24px;
    }
  }
  .pagination-bottom {
    margin-top: 28px;
  }
  .overview-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (max-width: 1024px) {
      flex-flow: column;
    }
  }
  .sort {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    // margin-top: 6px;
    height: 47px;
    margin-bottom: 42px;
    background-color: #172b48;
    min-width: 183px;
    display: flex;
    align-items: center;
    @media (max-width: 1024px) {
      position: relative;
      margin: 0;
      align-self: flex-start;
      margin-bottom: 24px;
      min-width: 129px;
    }
    span {
      display: flex;
      width: 100%;
      font-weight: 900;
      font-size: 1.25em;
      letter-spacing: 1.1px;
      color: white;
      padding: 11px 18px;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1024px) {
        font-size: 1em;
        letter-spacing: 0.9px;
      }
      svg {
        fill: #dbad2c;
        margin-left: 18px;
        width: 18px;
        height: auto;
        @media (max-width: 1024px) {
          margin-left: 6px;
          width: 12px;
        }
      }
    }
    select {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 100%;
      height: 100%;
      -webkit-appearance: none;
      border: none;
      opacity: 0;
      // visibility: hidden;
      outline: none !important; // Ewwww
    }
  }
}
