@font-face {
  font-family: 'Maax Mono';
  src: url('./maax-mono/MaaxMono-Bold.woff2') format('woff2'),
    url('./maax-mono/MaaxMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maax Mono';
  src: url('./maax-mono/MaaxMono.woff2') format('woff2'),
    url('./maax-mono/MaaxMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maax';
  src: url('./maax/Maax-Black.woff2') format('woff2'),
    url('./maax/Maax-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Maax';
  src: url('./maax/Maax-Bold.woff2') format('woff2'),
    url('./maax/Maax-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maax';
  src: url('./maax/Maax-Medium.woff2') format('woff2'),
    url('./maax/Maax-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Maax';
  src: url('./maax/Maax.woff2') format('woff2'),
    url('./maax/Maax.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
