:local {
  .product-item {
    background-color: rgba(23, 43, 72, 0.2);
    margin-bottom: 24px;
  }
  .container {
    background: #1b85a0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    flex-flow: column;
    backface-visibility: hidden;
  }
  .buttoncontainer{
    margin-top: 36px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    width: 103px;
    @media (max-width: 375px) {
      margin-top: 10px;
    }

  }
  .image {
    max-width: 100%;
    max-height: 100%;
    
    margin-bottom: 32px;
    margin-top: 32px;
  }
  .featured {
    background: #172b48;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8125em;
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 24px;
    @media (max-width: 1024px) {
      font-size: 1.25em;
      padding: 10px 12px;
    }
  }
  .featured svg {
    position: relative;
    top: -1px;
    margin-right: 16px;
    @media (max-width: 1024px) {
      margin-right: 8px;
    }
  }
  .featured svg polygon {
    fill: #dbad2c;
  }

  .heading {
    background: white;
    padding: 21px 25px 20px;
    width: 100%;
    color: #172b48;
    display: flex;
    flex-direction: column;
    @media (max-width: 1207px) {
      min-height: 176px;
    }

.firstline{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.1px;

}
.secondline{
  display: flex;
  justify-content: space-between;
  @media (max-width: 375px) {
    flex-direction: column;
  }
}
  }
  .title {
    font-weight: 900;
    font-size: 1.25em;
    @media (max-width: 1024px) {
      font-size: 1.125em;
    }
    @media (max-width: 768px) {
      padding-right: 16px;
    }
  }
  .subtitle {
    opacity: 0.32;
    font-weight: 500;
    margin-top: -3px;
    width: 200px;
    @media (max-width: 1024px) {
      font-size: 1em;
    }
  }
  .subtitlecontainer {
    display: flex;
    flex-direction: column;
  }
  .price {
    grid-row-start: 1;
    grid-column-start: 2;
    font-family: 'Maax Mono';
    letter-spacing: -2.2px;
    font-size: 1.25em;
    text-align: right;
    @media (max-width: 1024px) {
      letter-spacing: -1.8px;
      font-size: 1.25em;
    }
  }
  .price b {
    font-weight: bold;
  }

  // hover
  .container:hover {
    @media (min-width: 768px) {
      transform: translateY(-18px) translateX(18px);
      z-index: 9999;
      position: relative;
    }
    
  }
  .add1 {
    position: relative;
    display: flex;
    justify-content: center;
    @media (max-width: 1496px) {
      justify-content: flex-end;
    }
    @media (max-width: 560px) {
      margin-right: 16px;
    }
    @media (max-width: 375px) {
      justify-content: flex-start;
    }
    // &:hover :global(.button){
    //   box-shadow: inset 0px 0px 0px 2px #41aa41;
    //   border-color: #41aa41;
    //   background: white;
    // }
  }
  .add2 {
    position: relative;
    display: flex;
    justify-content: center;
    @media (max-width: 1496px) {
      justify-content: flex-end;
    }
    @media (max-width: 560px) {
      margin-right: 16px;
    }
    @media (max-width: 375px) {
      justify-content: flex-start;
    }
  }

  .tooltip {
    display: block;
    background-color: #172b48;
    // display: none;
    visibility: hidden;
    opacity: 0;
    user-select: none;
    transition: all 0.125s ease-in-out;
    position: absolute;
    bottom: 68px;
    color: white;
    white-space: nowrap;
    font-size: 1.25em;
    font-weight: bold;
    padding: 11px 16px;
    z-index: 1;

    .closebutton{
      display: none;
    }
    @media (max-width: 768px) {
      .closebutton{
        display: block;
        background-color: #8a95a3;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          width: 20px;
          height: 20px;
        }
      }
    }

    span {
      position: relative;
      z-index: 2;
    }
    &::after {
      content: '';
      width: 17px;
      height: 17px;
      transform: rotate(138deg);
      background-color: #172b48;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
      margin: auto;
      z-index: 1;
      @media (max-width: 1496px) {
        left: auto;
        right: 15px;
      }
      @media (max-width: 375px) {
        left: 15px;
        right: auto;
      }
    }
  }
  
  .tooltiplarger{
    padding: 17px 16.5px 18.6px 17.5px;
  }
  .tooltip:hover {
    bottom: 58px;
    visibility: visible;
    opacity: 1;
  }
  a:hover ~ .tooltip {
    bottom: 58px;
    visibility: visible;
    opacity: 1;
  }
  .button1{
    margin-top: 15px;
  }
  .button2{
    margin-top: 8px;
  }
  .hidetooltip{
    display: none;
  }
}
