:local {
  .header {
    background: white;
    user-select: none;
  }
  .headerwrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
  }

  .logo {
    width: 99px;
    height: 99px;

  }
  .logo a {
    color: white;
  }
}
