:local{
    .pricecontainer{
        margin-top: 21px;
        display: flex;
        flex-direction: column;
    }
    .divider{
        background: #172b48;
        width: 100%;
        height: 2px;
        margin-bottom: 21px;
    }
    .title{
        font-weight: 900;
        font-size: 1.25em;
        margin-bottom: 4.1px;
        @media (max-width: 1024px) {
          font-size: 1.125em;
        }
        @media (max-width: 768px) {
          padding-right: 16px;
        }
    }
    .subtitle {
        opacity: 0.32;
        font-weight: 500;
        margin-top: -3px;
        @media (max-width: 1024px) {
          font-size: 1em;
        }
      }
      .price{
        font-weight: 900;
      }
      .btw{
        opacity: 0.32;
        font-weight: 500; 
        @media (max-width: 1024px) {
            font-size: 1em;
          }
      }

}