:local {
  .page-hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    position: relative;
    @media (max-width: 1024px) {
      min-height: 200px;
    }
    @media (max-width: 768px) {
      background-position: top;
      min-height: 600px;
    }
  }
  .logo{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;
  }

  .wrapper {
    composes: wrapper from global;
    display: flex;
    min-height: 800px;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    position: relative;
    height: 100%;
    padding-top: 68px;
    padding-bottom: 126px;
    @media (max-width: 768px) {
      padding-bottom: 32px;
      padding-top: 224px;
      justify-content: flex-start;
      min-height: 600px;
    }
    &::after {
      content: '';
      // width: calc(100% + 300px);
      width: calc(448px + 300px);
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      // z-index: -1;
      background-image: linear-gradient(
        271deg,
        rgba(60, 130, 60, 1) 50%,
        rgba(60, 130, 60, 0) 100%
      );
      @media (max-width: 1024px) {
        width: calc(348px + 300px);
      }
      @media (max-width: 768px) {
        width: calc(100% + 40px);
        left: -20px;
        right: auto;
        background-image: linear-gradient(
          0,
          rgba(60, 130, 60, 1) 50%,
          rgba(60, 130, 60, 0) 100%
        );
      }
    }
    &::before {
      content: '';
      // width: calc(100% + 300px);
      width: 100vw;
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      // z-index: -1;
      background: #3c823c;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .content {
    max-width: 448px;
    position: relative;
    z-index: 1;
    @media (max-width: 1024px) {
      max-width: 348px;
    }
    @media (max-width: 768px) {
      max-width: 500px;
    }
    @media (max-width: 520px) {
      max-width: 100%;
    }
  }
  .fronttitle {
    font-weight: 900;
    line-height: 1.09;
    font-size: 2.5em;
    color: #172b48;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width: 1024px) {
      font-size: 2.5em;
    }
  }
  .title {
    font-weight: 900;
    line-height: 1.09;
    font-size: 5em;
    color: white;
    margin-bottom: 32px;
    margin-top: 0;
    @media (max-width: 1024px) {
      font-size: 2.5em;
    }
  }
  .description {
    color: white;
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 1.125em;
    letter-spacing: 0;
    line-height: 1.83;
    font-family: 'Maax Mono', sans-serif;
    @media (max-width: 1024px) {
      font-size: 0.9375em;
      line-height: 1.27;
    }
  }

  // MODIFIERS

  // overflow
  .page-hero--overflow {
    overflow: hidden;
    @media (max-width: 768px) {
      width: calc(100% + 40px);
      left: -20px;
    }
  }
  .page-hero--overflow .wrapper {
    width: calc(100% - 56px);
    @media (max-width: 768px) {
      width: calc(100% - 40px);
    }
  }
  // yellow
  .page-hero--yellow .wrapper {
    &::after {
      background-image: linear-gradient(
        271deg,
        rgba(219, 169, 44, 1) 50%,
        rgba(219, 169, 44, 0) 100%
      );
      @media (max-width: 768px) {
        background-image: linear-gradient(
          0,
          rgba(219, 169, 44, 1) 50%,
          rgba(219, 169, 44, 0) 100%
        );
      }
    }
    &::before {
      background: #dba92c;
    }
  }

  .page-hero--blue .wrapper {
    &::after {
      background-image: linear-gradient(
        271deg,
        rgba(27, 133, 160, 1) 50%,
        rgba(27, 133, 160, 0) 100%
      );
      @media (max-width: 768px) {
        background-image: linear-gradient(
          0,
          rgba(27, 133, 160, 1) 50%,
          rgba(27, 133, 160, 0) 100%
        );
      }
    }
    &::before {
      background: #1b85a0;
    }
  }

  // alig-left
  .page-hero--align-left .wrapper {
    justify-content: flex-start;
    &::after {
      right: auto;
      left: 0;
      transform: rotate(180deg);
      @media (max-width: 768px) {
        background-image: linear-gradient(
          0,
          rgba(219, 169, 44, 1) 50%,
          rgba(219, 169, 44, 0) 100%
        );
        left: -20px;
        transform: rotate(0);
      }
    }
    &::before {
      left: calc(-100vw + 1px);
    }
  }

  // simple
  .page-hero--simple {
    height: 701px;
    @media (max-width: 1024px) {
      height: 319px;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      right: 0;
      bottom: 0;
      position: absolute;
      background-image: linear-gradient(
        304deg,
        #419e41,
        rgba(250, 251, 251, 0.02),
        rgba(255, 255, 255, 0)
      );
    }
  }
  .page-hero--product-overview {
    margin-bottom: 176px;
    @media (max-width: 1024px) {
      margin-bottom: 48px;
    }
    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
  }
}
